
    <nav class="container-fluid bg-success text-wrap">
                <div class="d-flex  justify-content-center d-flex align-items-center">
                    <figure class="container text-wrap">
                        <h3 class="fw-bold fw-italic" >Una Gran Opotunidad</h3><br>
                        <h2>Insumos en Venta</h2><br>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            vel aperiam minus aliquid possimus delectus sunt laboriosam natus!
                        </p><br>
                        <div class="d-grid gap-2 col-6 mx-auto columna">
                            <button type="submit" class="container btn btn-primary btn-lg btn-primary">Inventario</button>
                        </div>
                        
                    </figure>

                    <div class="container-fluid d-flex  text-wrap justify-content-end d-flex align-items-center">
                      {{getInsumos}}
                    </div>

                </div> 
    </nav>

