
<article class="container-fluid bg-secondary bg-gradient text-wrap">
        <div class="d-flex  justify-content-end d-flex align-items-center justify-content-center">
            <figcaption class="container-fluid" >
                <img src="http://isanidad.com/wp-content/uploads/2017/05/Metges-Igualdad-AP.jpg" alt="imagen1" class=" img-thumbnail border-3 border-info">
                <h3>A cerca de nuestros servicios</h3><br>
            </figcaption>
            <div class="container-fluid">
                <div class="container">
                    <h2>Atencion Primaria</h2><br>
                </div>  
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.  
                    vel aperiam minus aliquid possimus delectus sunt laboriosam natus!
                </p><br>
               <div class="d-grid gap-2 col-6 mx-auto">
                   <button type="submit" class="container btn btn-primary btn-lg btn-primary" >Mas Informacion</button>
               </div>
            </div>
        </div>
    </article>
