
    <footer class="container-fluid bg-dark">
        <div class="conatiner text-white fs-4">
            <p class="text-center">&#169;Fisiomend Derechos reservados</p>
        </div> 
    </footer>


